.main-nav {
  background: $light;
  .nav-list {
    .nav-list-elem {
      width: 60%;
      margin-left: 35%;
      .twal-link {
        background: none;
        box-shadow: none;
        color: $dark;
        width: 100%;
        text-align: left;
      }
    }
  }
}
